<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" routerLink="/home">Mantenedor</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/all-formularios" routerLinkActive="active">Formulario Tipo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/pagina1" routerLinkActive="active">Pacientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/formulario-6-12" routerLinkActive="active">Formulario 6-12</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/pagina5" routerLinkActive="active">Página 5</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/evaluaciones" routerLinkActive="active">Evaluaciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/graficos" routerLinkActive="active">
            <i class="fas fa-chart-line"></i>
            Gráficos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/probando" routerLinkActive="active">Probando</a>
        </li>
      </ul>
    </div>
  </div>
          <li class="nav-item">
            <a class="nav-link" routerLink="/all-formularios" routerLinkActive="active">Todos los Formularios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/pagina5" routerLinkActive="active">Página 5</a>
          </li>