<div class="container tabla">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="row mb-4">
      <div class="col-sm-3">
        <strong class="movselect">Número De Concesión:</strong>
        <strong>{{this.general.ccmActual.numConcesion}}</strong><span style="color: red;" class="movselect">
        </span>
      </div>
      <div class="col-sm-4">
        <strong class="movselect">Movimiento Seleccionado:</strong><span style="color: red;" class="movselect">
        <strong>{{this.general.ccmActual.idTramite==-1?'--':this.general.ccmActual.idTramite}}</strong></span>
      </div>
    </div>
    <br>
  </div>
  <form [formGroup]="formUserConcesion" id="FormConcesiones" name="formUserConcesion">

    <div class="row">
      <!-- Bloque 1: Nacionalidad y Tipo persona Buscar -->
      <div class="col-md-3">
        <div class="form-check">
          <input formControlName="cdnacionalidadCs"
                 class="form-check-input"
                 type="radio"
                 name="nacionalidad"
                 value="0"
                 id="chileno"
                 [checked]="nacionalidadSeleccionada === '0'"
                />
                 <!-- (change)="onNacionalidadChange($event)" -->
          <label class="form-check-label" for="chileno">Chileno</label>
        </div>
      </div>
      
      <div class="col-md-3">
        <div class="form-check">
          <input formControlName="cdnacionalidadCs"
                 class="form-check-input"
                 type="radio"
                 name="nacionalidad"
                 value="1"
                 id="extranjero"
                 [checked]="nacionalidadSeleccionada === '1'"
                 />
                 <!-- (change)="onNacionalidadChange($event)" -->
          <label class="form-check-label" for="extranjero">Extranjero</label>
        </div>
      </div>
    </div>

    <!-- Bloque 2: Tipo de Persona -->
    <div class="row mt-3">
      <div class="col-md-3">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="tipoPersona" value="natural"
                 id="personaNatural"
                 
                 [checked]="tipoPersonaSeleccionada === 'natural'"/>
                  <!-- (change)="setTipoPersona('natural')" -->
          <label class="form-check-label" for="personaNatural">Persona Natural</label>
        </div>
      </div>
      
      <div class="col-md-3">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="tipoPersona" value="juridica"
                id="personaJuridica"
                 [checked]="tipoPersonaSeleccionada === 'juridica'"/>
                  <!-- (change)="setTipoPersona('juridica')"  -->
          <label class="form-check-label" for="personaJuridica">Persona Jurídica</label>
        </div>
      </div>
    </div>

    <!-- Bloque 3: Campos de Búsqueda -->
    <div class="row mt-3" *ngIf="tipoPersonaSeleccionada === 'natural' && nacionalidadSeleccionada === '0'">
      <div class="col-md-6">
        <div class="input-group mb-3">
          <input class="form-control" type="text" [formControl]="buscarRut" maxlength="20" placeholder="Pasaporte"
               />
                 <!-- (keypress)="permitirLetrasyNumeros($event)"  -->
          <button class="btn btn-outline-secondary" (click)="buscarPersonaBackendnatural()">Buscar</button>
        </div>
      </div>
    </div>

    <!-- Bloque 4: Campos para Persona Jurídica -->
    <div class="row mt-3" *ngIf="tipoPersonaSeleccionada === 'juridica' && nacionalidadSeleccionada === '0'">
      <div class="col-md-6">
        <div class="input-group mb-3">
          <input class="form-control" type="text" [formControl]="buscarRut" maxlength="20" 
                 placeholder="RUT Jurídico"  />
                 <!-- (keypress)="permitirLetrasyNumeros($event)" -->
          <button class="btn btn-outline-secondary" (click)="buscarPersonaBackendnatural()">Buscar</button>
        </div>
      </div>
    </div>

    <!-- Bloque 5: Campos para Persona Jurídica Extranjera -->
    <div class="row mt-3" *ngIf="tipoPersonaSeleccionada === 'juridica' && nacionalidadSeleccionada === '1'">
      <div class="col-md-6">
        <div class="input-group mb-3">
          <input class="form-control" type="text" [formControl]="buscarRut" maxlength="20" 
                 placeholder="Tax ID" />
                 <!-- (keypress)="permitirLetrasyNumeros($event)"  -->
          <button class="btn btn-outline-secondary" (click)="buscarPersonaBackendnatural()">Buscar</button>
        </div>
      </div>
    </div>

    <!-- Bloque 6: Label para nacionalidad extranjera -->
    <div class="row mt-3" *ngIf="nacionalidadSeleccionada === '1'">
      <div class="col-md-3">
        <label>País:</label>
        <select class="form-select mb-2" formControlName="cdpaisCs">
          <option value="">Seleccione país</option>
          <option *ngFor="let p of paisesAll" [value]="p.cdcodigo">{{ p.MNombre }}</option>
        </select>
      </div>
    </div>

    <!-- Bloque 7: Identificación -->
    <div class="row mt-3" *ngIf="tipoPersonaSeleccionada === 'natural'">
      <ng-container *ngIf="tipoPersonaSeleccionada === 'natural'">
        <div class="col-md-3">
          <label>Nombre:</label>
          <input class="form-control mb-2" type="text" formControlName="nombre" maxlength="40"
                 />
                 <!-- (keypress)="letrasNumeroEspacio($event)"  -->
        </div>
        <div class="col-md-3">
          <label>Primer Apellido:</label>
          <input class="form-control mb-2" type="text" formControlName="apellido1" maxlength="40"
                />
        </div>
        <div class="col-md-3">
          <label>Segundo Apellido:</label>
          <input class="form-control mb-2" type="text" formControlName="apellido2" maxlength="40"
                  />
        </div>
        <div class="col-md-3">
          <label>Profesión:</label>
          <select class="form-select mb-2" formControlName="cdprofesionCs">
            <option *ngFor="let p of profesiones" [value]="p.CDTPProfesion">{{ p.GLTPProfesion }}</option>
          </select>
        </div>
      </ng-container>
    </div>

    <!-- Bloque 8: Estado Civil -->
    <div class="row mt-3" *ngIf="tipoPersonaSeleccionada === 'natural'">
      <div class="col-md-3">
        <label>Estado Civil:</label>
        <select class="form-select mb-2" formControlName="cdestadocivilCs">
          <option *ngFor="let e of EstadosCiviles" [value]="e.CDEstadoCivil">{{ e.GLEstadoCivil }}</option>
        </select>
      </div>
    </div>

    <!-- Bloque 9: Contacto concesionario -->
    <div class="row mt-3">
      <div class="col-md-4">
        <ng-container *ngIf="tipoPersonaSeleccionada === 'juridica'">
          <label>Razón Social:</label>
          <input class="form-control mb-2" type="text" formControlName="razonSocial" maxlength="40"
                  />
        </ng-container>
      </div>
    </div>

    <!-- Bloque 10: RUT y Teléfono -->
    <div class="row mt-3">
      <div class="col-md-3">
        <div class="d-flex gap-2 mb-2">
          <input class="form-control form-control-sm" type="text" maxlength="8" placeholder="RUT"
                 [formControl]="rutControl" style="max-width: 100px;" />
          <span class="align-self-center">-</span>
          <input class="form-control form-control-sm" type="text" maxlength="1" placeholder="DV"
                 [formControl]="digitoverif" style="max-width: 50px;" />
        </div>
      </div>
      <div class="col-md-3">
        <label>Teléfono Fijo:</label>
        <input class="form-control mb-1" type="text" formControlName="paisFjoCs" maxlength="3" />
      </div>
    </div>

    <!-- Bloque 11: Botón de prueba -->
    <div class="row mt-3">
      <div class="col-md-12">
        <button (click)="prueba()">Prueba</button>
      </div>
    </div>

  </form>
</div>
